
body{margin: auto; 
font-family: arial, sans-serif;

}



.wrapper{ position: absolute; top:0; left:0; right:0; bottom:0; margin:auto; height:100%; width:100%;
text-align: center;
}






#thumbalin{
vertical-align: middle;
height:300px; max-width:350px; min-width: 300px;
margin: 10px; display: inline-block;
background: #eee;

}


