
body{margin: auto; background: transparent;
font-family: arial, sans-serif;

webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

header{


color: #555;
font-size: 1.5em; font-weight: bold;
line-height: 50px;border-bottom: 1px solid #ccc;  height:50px;position: absolute;  right:0; left:0; top:0px; margin: auto;}

.wrapper{ position: absolute; top:0; left:0; right:0; bottom:0; margin:auto; height:100%; width:100%;}
form{ 
 
  text-align:  center; margin: auto; background: #fff;
  position: absolute; top:0px; right:0; left:0;bottom:0;
 max-width: 400px;border-radius:5px;
max-height:700px;
padding-bottom:20px;
-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.35);
box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.35);

}
textarea{
    resize: none;
  font-size: 15px;
   outline: none;
   display: block;
width:250px; height:100px;
border-radius:3px;
  margin: 10px auto;
  border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
 padding:5px 15px;
 font-family: sans-serif;
}

input[type=reset]{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:12px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;



}
input[type=submit]{


  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;

  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:12px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;







}


input[type=submit],input[type=reset]{   
  display: inline-block;
  outline: none;
   margin: 5px 10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}



input[type=submit]:active,input[type=reset]:active{ 
  position:relative;
  top:2px; }






input[type=submit]:hover{ }
form input[type=text]{margin-top:75px;}
input[type=text],input[type=email]{
  display: block;
   padding:5px 15px;
   margin:15px auto;
   font-size: 15px;
   width:250px;
 outline:none;
border-radius:3px;
height:25px;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
}



input[type=text]:focus,input[type=email]:focus{

 box-shadow: 0 0 3px  #009cde;
  border: 1px solid  #009cde;

}
textarea:focus{

 box-shadow: 0 0 5px  #009cde;
  border: 1px solid  #009cde;

}


